#!/bin/bash

# vim
alias v="nvim"

# nav
alias ~="cd ~"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias -- -="cd -"

# confirm overwrite
alias cp="cp -i"

# comfirm overwrite
alias mv="mv -i"

# confirm rm
alias rm="rm -i"

# eza -> ls
if type "eza" >/dev/null 2>&1; then
	alias ls="eza"
	alias ll="eza -l"
	alias la="eza -la"
fi

# explorer
if type "/mnt/c/Windows/explorer.exe" >/dev/null 2>&1; then
	alias open="/mnt/c/Windows/explorer.exe"
fi
