deno () {
  docker run \
    --interactive \
    --tty \
    --rm \
    --volume $PWD:/app \
    --volume $HOME/.deno:/deno-dir \
    --workdir /app \
    hayd/alpine-deno:1.2.2 \
    "$@"
}

go() {
  docker run \
    --interactive \
    --tty \
    --rm \
    golang:latest \
    go "$@"
}
